:root {
    /*Variables*/
    --font-family: "DM Sans", sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --more-bold-font: 900;
    --borders: 2px;
    --radius-borders:10px;
    --background-colour:#1A124D;
    --primary-colour:#478ea1;
    --secondary-colour: #00ff22;
    --primary-shadow: #ebebeb;
    --secondary-shadow:#B27F48;
    --text-links:#00ff22;
    --bottom-margin:0.5rem;
    --bottom-margin-other: 1rem;
    --line-height: 1.7rem;
    --transition:0.2s;
    --page-padding: 1rem 5rem;
}

html {
    scroll-behavior: smooth;
}
/* General Page CSS */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family:var(--font-family);
}

ul {
    list-style-type:none;
}
a {
    text-decoration:none;
    color: var(--text-links);
}

a:hover {
    color: var(--background-colour);
}

/* Navigation bar CSS */
nav {
    position: sticky;
    display:flex;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 3.5rem;
    background-color: var(--background-colour);
    box-shadow:0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-colour);
}
nav ul {
    display:flex;
    gap: 1.9rem;
}
nav ul li {
    font-weight: var(--bold-font);
}
nav a {
    color: var(--primary-colour);
    transition: var(--transition);
}
nav a:hover {
    color: var(--secondary-colour);
    border-bottom: 2px solid var(--secondary-colour);
}
#hamburger-menu {
    cursor: pointer;
    display:none;
}
#profile-img {
    border-radius: 50%;
    width:100px;
    height:100px;
    border: var(--borders) solid;
    border-color: var(--primary-shadow);
}

/* Hero Section CSS */
.hero-section {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:2.5rem;
    max-width: 68.75rem;
    margin:auto;
    padding:var(--page-padding);
}
#hero-img {
    height: 30rem;
    width: 66.66rem;
    border-radius: var(--radius-borders);
}
#intro {
    width: 25rem;
    padding: 0.7rem;
    border-radius: var(--radius-borders);
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

#intro h2 {
    margin-bottom: var(--bottom-margin);
}

#intro p {
    line-height: var(--line-height);
    padding: 0.3rem 0;

}

/*More about me Section CSS */

#more-about-me {
    background-color: var(--primary-colour);
    padding: var(--page-padding);
}
#more-about-me-div {
    width: 100%;
    
}

#more-about-me h2 {
   margin-bottom: var(--bottom-margin);
   text-align: center;
}

#more-about-me p {
    line-height: var(--line-height);
    padding: 0.4rem;
}


/* Skills section CSS */
.skills {
    max-width: 70rem;
    margin:auto;
    text-align:center;
    margin-top: 2.5rem;
}
.skills #skills-title {
    margin-bottom: 1rem;
}

#languages-title {
    padding:2rem;
}

.row1 {
    display:flex;
    align-items:center;
}
.row2 {
    display:flex;
    align-items:center;
}
.skills-div i {
    padding:1.25rem;
}

.icon-skill {
    font-size: 5rem;
}

.icon-skill-img {
    width: 5rem;
    height: 5rem;
}

.skill-cell {
    margin:auto;
    float:left;
    padding: 1.25rem;
}

/*Projects Section */

.projects {
    background-color: var(--primary-colour);
    padding:32px 0;
    margin-top:2rem;
    /*max-width: 70rem;
    margin:auto;
    text-align:center;
    margin-top: 2.5rem;*/
}
.projects #projects-title, .project-title{
    text-align: center;
    font-weight: var(--bold-font);
    /*margin-bottom: 1rem;*/
}

#project-description {
    padding:3rem;
}


.projects-div {
    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
}

.projects-div i {
    
    /*padding:1.25rem;*/
}

.project-cell {
    width:15rem ;
    word-wrap: break-word;
    padding:1rem;
    width:15rem ;
    word-wrap: break-word;
    /*
    padding:1rem;
    width:15rem ;
    word-wrap: break-word;
    background-color: var(--background-colour);
    border-radius: var(--radius-borders);*/
}
.project-img {
    padding:1rem;
    width:100%;
    height:100%;
    border-radius: var(--radius-borders);
    transition:1s ease-out 100ms;
}
.project-img:hover {
    border-radius: 100rem;
}

/* Contact section CSS*/
#contactme h2 {
    text-align: center;
}
